.container {
	user-select: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	padding: 20px 10px;
	background-color: var(--root-lightgreen) !important;
}

.wrapperUserName {
	display: flex;
	gap: 5px;
	align-items: center;
}
