:root {
	--root-bg-light: #fcf9f3;
	--root-lightgreen: #dfe7d0;
}

a {
	text-decoration: none !important;
	color: inherit;
}

body {
	color: #0a4e41;
	background-color: var(--root-bg-light) !important;
}
